<h3>Welcome to play blackjack game!</h3>
<p>Please enter your name:</p>
<form action='/' method="post">
  <input type='text' name="player_name"/>
  <br/>
  <input type="submit" class="btn btn-primary" value="START GAME"/>
</form>